# Eclipse / STS
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.recommenders

# IntelliJ
.idea/
*.iml
out/

# Maven
target/

# Gradle
.gradle/
build/

# Logs
*.log
/crudeliaDeAnimal.log.*
